<div class="ftco-blocks-cover-1" >
  <div class="ftco-cover-1 overlay innerpage" style="background-image: url('assets/images/hero_2.jpg')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
        
          <h1>Our For Rent Cars</h1>
          <br>
          <hr>
          <h2 align="center"  style="color:burlywood">Find Your Own Raod  A Car For Everyone.<mat-icon> directions_car</mat-icon></h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<main>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="card p-3 py-4">
                        <div class="text-center"> <img [src]=" voiture?.image" width="200" class="rounded-circle"> </div>
                        <div class="text-center mt-3"> 
                            <h5 class="mt-2 mb-0" >{{  voiture?.title }}</h5>
                            <div class="px-4 mt-1"> 
                                <div style="text-align: bottom;"><span>{{ voiture?.description}} </span></div>
                                 <div style="text-align:bottom;"><span>{{ voiture?.price}}</span></div>
                                 <div style="text-align:bottom;"><span> age  : {{ voiture?.instructor }}</span></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

</main>
<br><br><br>