
    

	  <!-- backtotop - start -->
		<div id="thetop"></div>
		<div class="backtotop">
			<a href="#" class="scroll">
				<i class="fa fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->                  
   
     <!-- preloader - start -->
  <div class="preloader">
    <div class="animation_preloader">
      <div class="spinner"></div>
      <p class="text-center">Loading</p>
    </div>
    <div class="loader">
      <div class="row vh-100">
        <div class="col-3 loader_section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-right">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-right">
          <div class="bg"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- preloader - end -->
  
  
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('assets/images/plan19.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1 style="color:rgb(232, 232, 232)">Our Blog </h1>
            <h3 align="center"  style="color:rgb(232, 232, 232)">Feel The Difference
              ,Going Beyon</h3>
          </div>
        </div>
      </div>
    </div>

<br><br><br><br><br>
<div class="container">
    <h1></h1>
<div class="search-div">
 <button mat-fab color="gray" >
   <mat-icon >add</mat-icon>
 </button>
 <mat-form-field class="search-form-field" floatLabel="never">
   <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
   <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
     <mat-icon>close</mat-icon>
   </button>
 </mat-form-field>
</div>   
                       
<div class="mat-elevation-z8">
 <mat-table [dataSource]="datasource" matSort>
   <ng-container matColumnDef="matricule">
     <mat-header-cell *matHeaderCellDef  mat-sort-header> Matricule# </mat-header-cell>
     <mat-cell *matCellDef="let element" style="border-spacing: 25px;"> {{element.matricule}}   </mat-cell>
   </ng-container>
   <ng-container matColumnDef="modele">
     <mat-header-cell *matHeaderCellDef  mat-sort-header>Modele </mat-header-cell>
     <mat-cell *matCellDef="let element">  {{element.modele}}   </mat-cell>
   </ng-container>
   <ng-container matColumnDef="marque">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Marque </mat-header-cell>
     <mat-cell *matCellDef="let element">     {{element.marque}}   </mat-cell>
   </ng-container> 
   <ng-container matColumnDef="puissance">
     <mat-header-cell *matHeaderCellDef mat-sort-header>  Puissance </mat-header-cell>
     <mat-cell *matCellDef="let element">{{element.puissance}}</mat-cell>
   </ng-container>
   <ng-container matColumnDef="kilometrage">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Kilometrage </mat-header-cell>
     <mat-cell *matCellDef="let element">{{element.kilometrage}  </mat-cell>
   </ng-container>
   <ng-container matColumnDef="prix">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Price</mat-header-cell>
     <mat-cell *matCellDef="let element">{{element.prix}}</mat-cell>
   </ng-container> 
   <ng-container matColumnDef="actions">
     <mat-header-cell *matHeaderCellDef></mat-header-cell>
     <mat-cell *matCellDef="let row">
       <button mat-icon-button ><mat-icon>edit_outline</mat-icon></button>
       <button mat-icon-button color="warn" (click)="onDelete(row.matricule)"><mat-icon>delete_outline</mat-icon></button>
   
     </mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
 <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
