<div class="ftco-blocks-cover-1">
  <div class="ftco-cover-1 overlay innerpage" style="background-image: url('assets/images/plan5.jpg')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <h1>Sign In</h1>
          <h3 align="center" style="color:rgb(247, 247, 247)">Impression Make Customers </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<main style="margin-top: 200px;">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1 class="h3 mb-3 fw-normal" style="text-align: center;margin-bottom: 40px;">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" formControlName="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
        <label for="floatingInput">Email address </label>
      </div>
      <div class="form-floating" style="margin-top: 15px;">
        <input type="password" formControlName="password" class="form-control" id="floatingPassword"
        placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit" style="margin-top: 15px;">Sign in</button>
      <p class="mt-5 mb-3">Don't have an account? <a routerLink="/auth/register">Sign up here!</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; ISET Bizerte-DSI3 - 2021</p>
    </form>
  </main>
</div>