
	  <!-- backtotop - start -->
		<div id="thetop"></div>
		<div class="backtotop">
			<a href="#" class="scroll">
				<i class="fa fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->                  
   
     <!-- preloader - start -->
  <div class="preloader">
    <div class="animation_preloader">
      <div class="spinner"></div>
      <p class="text-center">Loading</p>
    </div>
    <div class="loader">
      <div class="row vh-100">
        <div class="col-3 loader_section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-right">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader_section section-right">
          <div class="bg"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- preloader - end -->

<div class="ftco-blocks-cover-1" >
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('assets/images/plan17.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
          
            <h1>Our For Rent Cars</h1>
          
            <h3 align="center"  style="color:rgb(223, 223, 223)">Find Your Own Raod A Car For Everyone</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="breadcrumb_section text-center clearfix">
    <div class="overlay"></div>
    <div class="page_title_area has_overlay d-flex align-items-center clearfix">
      <div class="container " data-aos="fade-up" data-aos-delay="100">
        <div class="row"> 
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let voiture of voituresList">
            <div class="item-1">
                <a href="#"><img [src]="voiture.image" alt="Image" class="img-fluid"></a>
                <div class="item-1-contents">
                  <div class="text-center">
                  <h3><a href="#">{{ voiture.title }}</a></h3>
                  <div class="rating">
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                  </div>
                  <div class="rent-price"><span>{{ voiture.price|currency:'TND' }}/</span>day</div>
                  </div>
                  <ul class="specs">
                    <li>
                      <span class="spec">{{ voiture.description|slice:0:70 }} </span>
                    </li>

                  </ul>
                  <br><br>
                  <div class="d-flex action">
                    <a routerLink="/cars-rent/{{ voiture.id }}" class="btn btn-primary">Rent Now</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      </section>
     