<p>liste clients </p>

<table class="table-secondary">
    <thead>
      <tr class="table-secondary">
        <th  class="table-secondary">First Name</th>
        <th  class="table-secondary">Last Name</th>

        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        
        <td>{{user.First_Name}}</td>
        <td>{{user.Last_Name}}</td>
        <ul class="social mb-0 list-inline mt-3">
          <button mat-icon-button  routerLink="/teams/{{clients.CIN}}" ><mat-icon>launch</mat-icon></button>
        </ul>
    </tbody>
  </table>