<section
  class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
  style="background-image: url('assets/images/')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        js-fullheight
        align-items-end
        justify-content-center
      "
    >
      <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
        <h1 class="mb-3 bread">Favorites</h1>
        <p class="breadcrumbs">
          <span class="mr-2" id="id1" 
            ><h5><a routerLink="Favourites-rent">Rent</a
          ></h5></span>
          <span class="mr-2" id="id2"
            > <h5><a routerLink="">Buy </a
          ></h5></span>
        </p>
      </div>
    </div>
  </div>
</section>